option_settings:
 - namespace: aws:elasticbeanstalk:application:environment
   option_name: HIGH_PRIORITY_QUEUE
   value: hpq
 - namespace: aws:elasticbeanstalk:application:environment
   option_name: MEDIUM_PRIORITY_QUEUE
   value: mpq
 - namespace: aws:elasticbeanstalk:application:environment
   option_name: S3_BUCKET
   value: ark-api-env