name: Prod - Docker - API
on:
  push:
    branches: [prod]
    paths:
      - "api/**"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Prod API to beanstalk
    defaults:
      run:
        working-directory: ./api
    strategy:
      matrix:
        include:
          - app_name: NEPay
            env_name: NEPay-env
          - app_name: FUQI
            env_name: FUQI-env
          - app_name: Dobest-Cashier
            env_name: Dobest-Cashier-env
          - app_name: ANPay
            env_name: ANPay-env
          - app_name: Newspeed
            env_name: Newspeed-env
    steps:
      - uses: actions/checkout@v3

      - name: Create necessary folder
        run: |
          mkdir -p storage/framework/{sessions,views,cache}
          chmod -R 755 storage/framework

      - name: Make scripts executable
        run: |
          chmod +x docker/*.sh

      - name: Zip application for deployment
        run: zip -r application.zip . -x@.zipignore

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: ${{ matrix.app_name }}
          environment_name: ${{ matrix.env_name }}
          version_label: ${{ env.GITHUB_SHA_SHORT }}
          region: ap-southeast-1
          deployment_package: ./api/application.zip
          wait_for_environment_recovery: 10
          wait_for_deployment: false
          use_existing_version_if_available: true
